.character-window {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;

    &::before {
        @extend %popup_blackout;
    }
    }


.character-window__body {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    max-width: 107vh;
    min-height: 80vh;
    font-size: 3.5vh;
    font-family: "Vezitsa", "Fira Sans", Arial, sans-serif;
    background-image: url('../src/img/layout/character-window/background.png');
    opacity: 1;
    z-index: 90;
}

.character-window__inventory {
    display: flex;
    justify-content: flex-start;
    align-content: start;
    flex-wrap: wrap;
    padding: 10vh 2vh 5vh;
    width: 70%;
}

.inventory__item-block {
    position: relative;
    width: 25%;
    padding: 1vh;
    border: 1px solid brown;
    &:hover .inventory__item-description {
        display: block;
    }
}

.inventory__item-description {
    display: none;
    width: 33vh;
    position: absolute;
    left: 50%;
    font-size: 0.8em;
    background-color: white;
    padding: 1vh;
    border-radius: 3vh;
    z-index: 91;
}


.character-window__player-info {
    padding-top: 8vh;
    width: 30%;
    border-left: 2px solid black;
}

.player-info__portrait {
    max-width: 80%;
    margin: 20px auto;
    border-radius: 50%;
}



.player-info__health__back {
    position: relative;
    margin: 0 auto;
    text-align: center;    
    width: 80%;
    height: 4.5vh;
    background-color: black;
    border-radius: 10px;

    &>.player-info__health__bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 4.5vh;
        background-color: rgb(198, 2, 2);
        border-radius: 10px;
    }

    &>.player-info__health__text {
        z-index: 100;
        color: wheat;
        position: relative;
        vertical-align: middle;
    }
}