body {
    padding: 15px 15px;
}

.mainfield {
    position: relative;
    margin: 0 auto;
    max-width: 107vh;
    height: 88vh;
    font-size: 3.5vh;
    font-family: 'Vezitsa', 'Fira Sans', Arial, sans-serif;
}

.mainfield__body {
    padding: 7vh 14vh;
}

.viewport {
    max-height: 60vh;
	overflow: hidden;
    padding-bottom: 3vh;
}

.textCard {
    max-height: 50vh;
    margin-bottom: 15px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}