.mainField {
    max-width: 107vh;
    min-height: 88vh;
    font-size: 3.5vh;
    font-family: 'Vezitsa', 'Fira Sans', Arial, sans-serif;
}

.mainFieldBody {
    padding: 7vh 14vh;
}

.textCard {
    margin-bottom: 15px;
}