.health__back {
    position: relative;
    margin: 0 auto;
    text-align: center;    
    width: 80%;
    height: 4.5vh;
    background-color: black;
    border-radius: 10px;

    &>.health__bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5vh;
        background-color: rgb(198, 2, 2);
        border-radius: 10px;
    }

    &>.health__text {
        position: relative;
        color: wheat;
        line-height: 185%;
        font-size: 2.5vh;
        z-index: 100;
    }
}