@font-face {
    font-family: 'Vezitsa';
    src: url("fonts/ofont.ru_Vezitsa.ttf");
}

/*--ОБНУЛЕНИЕ---------------------------------------------------------------------*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

/*--ТЕХНИЧЕСКИЕ КЛАССЫ---------------------------------------------------------------------*/
._container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

._visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

._opacityZero {
    opacity: 0;
}

/*--ОБЩЕЕ---------------------------------------------------------------------*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    height: 100%;
    font-family: 'Vezitsa', 'Fira Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(story/intro/img/1669928962_50-indasil-club-p-derevenskie-zarisovki-oboi-57.jpg), no-repeat;
    background-size: cover;
    }



.mainField {
    max-width: 107vh;
    min-height: 88vh;
    font-size: 3.5vh;
    color: rgba(59, 36, 36);
    background: url(story/intro/img/svitok1.png), no-repeat;
    background-size: inherit;
    background-position: center top;
    margin: 20px auto ;
}

.mainFieldBody {
    padding: 7vh 14vh;
}

.textCard {
    margin-bottom: 15px;
}

.animationText {
    transition-property: opacity !important;
    transition-duration: 2s !important;
    opacity: 1 !important;
}

.darkAnimation {
    transition-property: filter, color,  -webkit-text-stroke;
    transition-duration: 5s;
    transition-delay: 1s;
    -webkit-text-stroke: 1px #ff9e9e;
    color: rgb(148, 0, 0);
    filter: invert(0.1) brightness(0.6) contrast(4.7);
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 3px solid  rgb(59 36 36);
}

.button {
    min-height: 20px;
    min-width: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover {
    color: rgb(160, 12, 12);
}

#inputName {
    background: none;
    outline: none;
    width: 100%;
    margin-top: 20px;
    font-family: 'Vezitsa', 'Fira Sans', Arial, sans-serif;
    font-size: 36px;
    color: rgba(59, 36, 36);
    flex-grow: 2;
    
}

.fightHead {
    text-align: center;
    text-transform: uppercase;
    color: rgb(160, 12, 12);
    font-size: 4vh;
}

.fightString {
    opacity: 0;
}

.fightString:nth-child(2n+1) {
    color: #c02020;
}