.body_theme_ch1-p1 {
    background-image: url(../src/story/chapter1/assets/img/room.jpg);
    background-repeat: no-repeat;
    background-size: cover;

.mainfield_theme_ch1-p1 {
        color: rgba(59, 36, 36);
        background: url(../src/story/chapter1/assets/img/pergament.jpg), no-repeat;
        background-size: contain;
        background-position: center top;
        border-image-source: url(../src/story/chapter1/assets/img/ramka.png);
        border-image-slice: 500 500 500 500 fill;
        border-image-repeat: repeat;
        border-image-width: 18vh;
        border-image-outset: 1vh;
    }

.mainfield__body_theme_ch1-p1 {
        padding: 12vh 14vh;
    }

}